{% extends 'base.html' %}

{% block title %}
  Habits
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {% for habit, periods, to_complete in data %}
    <div class="habit">
      <div class="habit-info">
        <div class="habit-name">
          {{ habit.name }}
        </div>
      </div>

      <div class="habit-days">
        {% for pc in periods %}
          {% if pc %}
            <span class="habit-success">
              yes
            </span>
          {% else %}
            <span class="habit-failure">
              no
            </span>
          {% endif %}
        {% endfor %}
      </div>

      <form action="{{ url_for('habits.complete', id=habit['id']) }}" method="post">
        <input class="danger" type="submit" value="Complete?" {{ "disabled" if not to_complete }}>
      </form>
      <a class="action" href="{{ url_for('habits.update', id=habit.id) }}">Edit</a>
    </div>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}
