{% extends 'base.html' %}

{% block title %}
  Habits
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  {% for habit in habits %}
    <div class="habit">
      <div class="habit-info">
        <div class="habit-name">{{ habit.name }}</div>
        <div class="habit-period">{{ habit.period }} days</div>
      </div>
      <a class="action" href="{{ url_for('habits.update', id=habit.id) }}">Edit</a>
    </div>
    {% if not loop.last %}
    {% endif %}
  {% endfor %}
{% endblock %}
